<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Your Own Adventure</title>
  </head>
  <body>
    <div>
      <h1>Create Your Own Adventure</h1>
      <h2>An interactive online adventure book</h2>
      <div>
        <div>
          <div>
            <h3>{{ .Title }}</h3>
            {{ range $paragraph := .Paragraphs }}
            <p>{{ $paragraph }}</p>
            {{ end }}
          </div>
        </div>
        <div style="flex-direction: column; align-items: center; justify-content: space-around;">
          {{ range $option := .Options }}
          <div>
            <a href="/arcs/{{ $option.Arc }}">{{ $option.Text }}</a>
          </div>
          {{ else }}
          <div>
            <p>The end!</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </body>
</html>
